Source: wpe2k
Section: unknown
Priority: optional
Maintainer: TJ Hoth <itzteajay@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/current
#Vcs-Git: https://salsa.debian.org/debian/current.git
Rules-Requires-Root: no

Package: current
Architecture: all
Depends: ${misc:Depends}
Description: wpe2k - Wallpaper Engine to Komorebi Migrator
 This package is designed to work alongside Wallpaper engine and Komorebi to allow linux users to migrate video files from steam workshop to the komorebi application.