Source: wpe2k
Section: unknown
Priority: optional
Maintainer: TJ Hoth <itzteajay@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/itzteajay-glitch/wpe2k
#Vcs-Browser: https://salsa.debian.org/debian/current
#Vcs-Git: https://salsa.debian.org/debian/current.git
Rules-Requires-Root: no

Package: wpe2k
Architecture: all
Depends: ${misc:Depends}
Description: Allows users to migrate video wallpaper from wallpaper engine into Komorebi
  Additional details here at a later time.
